body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.display {
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  border: 3px solid white;
}

.instructions {
  color: white;
  text-align: center;
}